/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Encabezado */
header {
    text-align: center;
    background-color: #005f73;
    color: #fff;
    padding: 1.5rem;
    width: 100%;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header h2 {
    font-size: 1.2rem;
}

/* Contenido principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.date-time {
    font-size: 1.2rem;
}

.date-time p {
    margin: 0.5rem 0;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #005f73;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}
